body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 500;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;


    
    @include respond(tab-port){
      font-size: 5.5rem;
      letter-spacing: 2rem;
    }

    @include respond(phone){
      font-size: 5rem;
      letter-spacing: 1.5rem;

    }
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    letter-spacing: 1.74rem;
    font-size: 2rem;
    font-weight: 700;

    animation-name: moveInRight;
    animation-duration: 1s;

    @include respond(tab-port){
      font-size: 1.65rem;
    letter-spacing: 0.8rem;

    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 0 1rem;
  background-image: linear-gradient(
    225deg,
    $color-primary-dark 0%,
    $color-primary 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 2px;

  @include respond (phone) {
    font-size: 1rem;
  }

  @include respond (tab-port) {
  font-size: 2.8rem;
  }

  &:hover {
    user-select: none;
    cursor: pointer;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    animation: textclip 3s linear infinite;

    text-shadow: 0.1px 0.1px 0 rgba($color-black, 0.1); /* Adding a shadow effect */
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  color: $color-grey-dark;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

// .paragraph:not(:last-child) {
//   margin-bottom: 3rem;
// }
